<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
%%Panel.HTMLHead%%
<body>
%%Panel.Header%%
</td></tr>
  <tr>
    <td height="230" background="%%GLOBAL_ShopPath%%/templates/LX03/imagem/fundo_banner.png"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td background="%%GLOBAL_ShopPath%%/templates/LX03/imagem/fundo-banner-dir.png">&nbsp;</td>
        <td width="938" height="221" background="%%GLOBAL_ShopPath%%/templates/LX03/imagem/fundo-banner.png"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="50">&nbsp;</td>
            <td width="450" height="32">&nbsp;</td>
            <td width="75">&nbsp;</td>
          </tr>
          <tr>
            <td><div align="center"><img src="%%GLOBAL_ShopPath%%/templates/LX03/imagem/banner-ofertras.png" width="283" height="129" /></div></td>
            <td>&nbsp;</td>
            <td height="170"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" data="scroll.swf" type="application/x-shockwave-flash" height="165" width="100%">
<param name="movie" value="modificacoes/scroll.swf">
<param value="false" name="menu">
<param value="FFFFFF" name="bgcolor">
<param value="host=modificacoes/feed.php" name="flashvars">
<embed src="modificacoes/scroll.swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" FlashVars="host=modificacoes/feed.php" type="application/x-shockwave-flash" wmode="transparent" height="170" width="100%">
</object></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td height="19">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        <td background="%%GLOBAL_ShopPath%%/templates/LX03/imagem/fundo-banner-dir.png">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr><td
   
	<div id="Wrapper">
		%%Panel.WrapperBanner%%
        %%Banner.TopBanner%%
		<div class="Left" id="LayoutColumn1">
			%%Panel.SideCategoryList%%
			%%Panel.SidePopularVendors%%
			%%Panel.SideShopByBrand%%
			%%Panel.SideNewsletterBox%%
            %%GLOBAL_PDF%%
            
            %%Banner.Esquerdo%%
            %%Panel.Enquete%%
            
		</div>
        <div class="Right" id="LayoutColumn3">
			%%Panel.SideLiveChatServices%%
            %%Panel.SideCartContents%%
            %%Panel.Facebook%%
            %%Banner.Direito%%
			
		</div>
		<div class="Content" id="LayoutColumn2">
			
            <div id="divTC" class="divTabControl">
            <div class="divTabs">
            <ul class="ulTabs">
                            <li id='li2'  >
                                <span id="cfForm:L7:0:L7L2">%%LNG_FeaturedProducts%%</span>
                            </li>
                            <li id='li3'  >
                                <span id="cfForm:L7:1:L7L2">Mais Populares</span>
                            </li>
                            <li id='li4'  >
                                <span id="cfForm:L7:2:L7L2">Mais Vendidos</span>
                            </li>
			</ul>
            </div>
			
                <div class="divTabArea" id='div2'>
                    <ul class="ProdutosListagem">
                   		%%Panel.HomeFeaturedProducts%%
                    </ul>
                </div>
                <div class="divTabArea" id='div3'>
                  <ul class="ProdutosListagem">
                   		%%Panel.SidePopularProducts%%
                  </ul>
                </div>
                <div class="divTabArea" id='div4'>
                     <ul class="MaisvendidosABAHOME">
                      	%%Panel.SideTopSellers%%
                    </ul>
                </div>
        </div>
        <script type="text/javascript">tabControl(document.getElementById('divTC'));</script>                            

    
    
    
            <hr />
			%%Panel.HomeNewProducts%%
			%%Panel.HomeRecentBlogs%%
			%%Banner.BottomBanner%%
		</div>
		
		<br class="Clear" />
	</div>
	%%Panel.Footer%%
</div>
</body>
</html>