W==&gXgXgXgXgXgXgXgXgXgXgn.
92ڡHX====================================================================================================================================XgXgn.
92ڡHX===========================nײ=========XgXgn.
92H:=)2gX)2W=======:==&)2========XgXgXagXn=======W==&up.==,H:=====nײ==nn.
92XgXŊ:gXXgX==W===&>")W==Xg2nW==Xg22ngX==}:gXgnû2=nH:HPXg2n)==p.=HH:go======Xg}
>ÂW==&),ggggggggggggn.
92ÂWm>PXg2߂W==&)PXgg-LPp::}!=XgXgXgXgn.
92ڡH:==Xg2=gXagXn=======W==&u===&)go======XPXXgX==gXXXuPp=22=9P==?gX==,H!=Xg2=gXagXn::(XŊ2/")gX>:==nr:}W==&:==nrA]XnPpW==Xg2====W==&g)2XXagXnr:1ߋ5=======&)gX>)Ŋ,yPXgXgp====Hg)==W===PXXgX==gXXX==}gXH:=}nH:")ngXXg=H/)2XnXg2=XgW==Xg2==rA]==W==&u-gXXXXgX==gX:H:=p\)!===r!gXnagXXgX==}=PXnXg2gXXg)2)!===rA]===Hg)==W====W==&g&p/)(==Hg)&)>-g)2XgXgXg)P>n.
9XXn.
9]XXrgXXgXPX*X2]X
gX===߶=======XgXgn.
9(XŊgn.
92)Xn)H:9PXggngXPX*X2]X
gX===߶:=\gXH:=}nH:")ngXXn.
92.
9]=g4)=Hg)/X)2========XgXgXa:W==&),)Ŋ:==Xg2==W=⍊﹇XPX:n]:W==&gX/gX>)==),gXXg)2aZM)===zPXgXH==XL==})98)2:=PXXXH:=}:92Pp)2.
>)a:W==&)==)2оn==&)H:==\gXH:=}?==Hg)H:W==&)QgX)ngXPX*X2")gXpW==n9|ngX.
9W==Xg2==&=HM==&pW==Xg2)PXgggnX==?Xn(XŊ====gX==gXgXgW=}:921/ F W==&),ggg=})2