
<br class="Clear" />
<div class="MenuFooter">
   <div class="center940">
      <ul>
         <h6>Mapa do site</h6>
         %%Panel.PagesMenu%%
      </ul>
      <ul>
         <h6>Central de Atendimento</h6>
         <li><a href="%%GLOBAL_ShopPath%%/login.php?action=create_account">Primeira Compra</a></li>
         <li><a href="%%GLOBAL_ShopPath%%/areadecliente.php">Meu Cadastro</a></li>
         <li><a href="%%GLOBAL_ShopPath%%/compras.php">Acompanhe Seus Pedidos</a></li>
      </ul>
   </div>
</div>

<div class="Footer" align="center">
 <div class="FooterContent">

<div class="pagamento">
   <p class="box-left">Formas de Pagamentos<br />
   <img src="%%GLOBAL_TPL_PATH%%/img/forms-pagt.png" alt="Formas de Pagamento" title="Formas de Pagamento" /></p>
   <p class="box-right">Fone: 43 3541-2648
End.Av Brasil, 560 Urai-PR
Cep:86280-000
E-mail: contato@clicktudoaki.com.br

Pre&ccedil;os e condi&ccedil;&otilde;es de pagamento exclusivos para compras via internet.
   Ofertas v&aacute;lidas at&eacute; o t&eacute;rmino de nossos estoques para internet.
   Vendas sujeitas &agrave; an&aacute;lise e confirma&ccedil;&atilde;o de dados.
   Em caso de diverg&ecirc;ncia de pre&ccedil;os no site, o valor v&aacute;lido &eacute; o do Carrinho de Compras.</p>
</div>

<div class="copy">
   <p class="box-left">%%GLOBAL_StoreName%% &copy; %%GLOBAL_Year%% - Todos os Direitos Reservados.E-mail:contato@clicktudoaki.com.br</p>
   <p class="box-right"><a href="" title="SITE SEGURO"><img src="%%GLOBAL_TPL_PATH%%/img/logocriar.png" alt="" /></a></p>
</div>

<script type="text/javascript">stLight.options({publisher: "7e84dddb-8e72-46e8-9038-cc59ac1420df"});</script>
<script>
var options={ "publisher": "7e84dddb-8e72-46e8-9038-cc59ac1420df", "position": "right", "ad": { "visible": false, "openDelay": 5, "closeDelay": 0}, "chicklets": { "items": ["facebook", "twitter", "pinterest", "linkedin", "email", "googleplus", "sharethis"]}};
var st_hover_widget = new sharethis.widgets.hoverbuttons(options);
</script>
 </div>
</div>
