<style type="text/css">
.Header center .TabelaTopo table tr td .Telefone {
	color: #000;
	text-align: center;
}
.Header center .TabelaTopo table tr td .Telefone {
	text-align: left;
}
.Header center .TabelaTopo table tr td .Telefone {
	font-weight: bold;
}
</style>
<div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/ajax-loader.gif" alt="" />&nbsp; %%LNG_LoadingPleaseWait%%</div>
%%Panel.TopMenu%%
<div class="Header">
	<center>
	<div class="TabelaTopo">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="Logo">%%GLOBAL_HeaderLogo%%</td>
          <td >
          </td>
        </tr>
        
      </table>
	</div>
    
    </center>

</div>
<center style="background-image:url(%%GLOBAL_TPL_PATH%%/%%GLOBAL_ImagemDivTopoLogin%%); background-position:top center" >

    <div  class="BarH">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
            <td class="BuscaTopoZ">%%Panel.HeaderSearch%%</td>
              <td>
              <td>
              %%GLOBAL_LoginOrLogoutText%%
            </tr>
          </table>
          </div>
          </center>



 		<div class=" Departamentos">
			%%Panel.MenuHeaderDepartamentos%%
		</div>
        
        
        
        
